<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
    integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X"
    crossorigin="anonymous"
  />
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
    integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4"
    crossorigin="anonymous"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"
    integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa"
    crossorigin="anonymous"
  ></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      renderMathInElement(document.body, {
        delimiters: [
          { left: "$$", right: "$$", display: true },
          { left: "\\[", right: "\\]", display: true },
          { left: "$", right: "$", display: false },
          { left: "\\(", right: "\\)", display: false },
        ],
        macros: {
          // Algebra-Precal
          "\\lcm": "\\mathop{\\mathrm{lcm}}",
          "\\sen": "\\text{sen}\\,",
          // Calculus
          "\\dd": "\\mathop{\\mathrm{d} #1}",
          "\\abs": "\\lvert #1 \\rvert",
        },
      });
    });
  </script> -->

  <script>
    MathJax = {
      loader: { load: ["[tex]/physics"] },
      tex: {
        inlineMath: [
          ["$", "$"],
          ["\\(", "\\)"],
        ],
        macros: {
          P: "{\\mathbf P}",
          adv: "{\\mathcal A}",
          J: "{\\mathbf J}",
          PP: "{\\mathsf{PP}}",
          QR: "{\\mathsf{QR}}",
          x: "{\\mathbf x}",
          R: "{\\mathbb R}", // a simple string replacement
          J: "{\\mathbb J}", // a simple string replacement
          Q: "{\\mathbb Q}", // a simple string replacement
          T: "{\\mathbb T}", // a simple string replacement
          Z: "{\\mathbb Z}",
          rgets: "{\\overset{\\small R}{\\gets}}",
          bold: ["\\boldsymbol{#1}", 1], // this macro has one parameter
          ddx: ["\\frac{d#2}{d#1}", 2, "x"], // this macro has an optional parameter that defaults to 'x'
          jacobi: ["\\left(\\frac{#1}{#2}\\right)", 2],
          prob: ["\\mathrm{Pr}\\qty[#1]", 1],
          blumprimes: "{\\mathsf{BPrimes}}",
          abc: ["(#1)", 1, [null, "\\cba"]], // equivalent to \def\abc#1\cba{(#1)}
        },
        packages: { "[+]": ["physics", "amsthm"] },
      },
    };
  </script>

  <script
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
  ></script>

  {% assign title = page.title | default: site.title | escape %} {% assign
  canonical = page.url | replace:'index.html','' | absolute_url %} {% assign
  description = page.description | default: page.excerpt | default:
  site.description | strip_html | normalize_whitespace | escape %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  {% if page.keywords %} {% if page.keywords.first %} {% assign keywords =
  page.keywords | join: ',' %} {% else %} {% assign keywords = page.keywords %}
  {% endif %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %} <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url
  }}">
  <link rel="canonical" href="{{ canonical }}" />
  {% assign feed_path = "/feed.xml" %} {% if site.feed and site.feed.path %} {%
  assign feed_path = site.feed.path %} {% endif %}
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title | escape }}"
    href="{{ feed_path | absolute_url }}"
  />

  {% include head_custom.html %} {% if site.facebook_app_id %}
  <meta property="fb:admins" content="{{ site.facebook_app_id }}" />
  {% endif %}
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:site_name" content="{{ site.title | escape }}" />
  <meta property="og:url" content="{{ canonical }}" />
  <meta property="og:description" content="{{ description }}" />
  {% if site.facebook_page %}
  <meta property="article:author" content="{{ site.facebook_page }}" />
  {% endif %} {% if page.facebook.image %}
  <meta property="og:image" content="{{ page.facebook.image }}" />
  {% elsif site.facebook_image %}
  <meta property="og:image" content="{{ site.facebook_image }}" />
  {% endif %} <meta name="twitter:card" content="{{ page.twitter_card.type |
  default: "summary" }}"> {% if site.twitter_username %}
  <meta name="twitter:site" content="{{ site.twitter_username }}" />
  {% endif %}
  <meta name="twitter:title" content="{{ title | truncate: 70 }}" />
  <meta
    name="twitter:description"
    content="{{ description | truncate: 200 }}"
  />
  {% if page.twitter_card.creator %}
  <meta name="twitter:creator" content="{{ page.twitter_card.creator }}" />
  {% elsif site.twitter_username %}
  <meta name="twitter:creator" content="{{ site.twitter_username }}" />
  {% endif %} {% if page.twitter_card.image %} {% if page.twitter_card.type ==
  'gallery' %}
  <meta name="twitter:image0" content="{{ page.twitter_card.image }}" />
  <meta name="twitter:image1" content="{{ page.twitter_card.image1 }}" />
  <meta name="twitter:image2" content="{{ page.twitter_card.image2 }}" />
  <meta name="twitter:image3" content="{{ page.twitter_card.image3 }}" />
  {% else %}
  <meta name="twitter:image:src" content="{{ page.twitter_card.image }}" />
  {% if page.twitter_card.type == 'photo' %} {% if page.twitter_card.width %}
  <meta name="twitter:image:width" content="{{ page.twitter_card.width }}" />
  {% endif %} {% if page.twitter_card.height %}
  <meta name="twitter:image:height" content="{{ page.twitter_card.height }}" />
  {% endif %} {% endif %} {% endif %} {% elsif site.twitter_image %}
  <meta name="twitter:image:src" content="{{ site.twitter_image }}" />
  {% endif %} {% include fonts.html %} {% include google_analytics.html %}
</head>
