<div class="card-item col">
  {%- if project.redirect -%}
  <a href="{{ project.redirect }}" target="_blank">
  {%- else -%}
  <a href="{{ project.url | relative_url }}" target="_blank">
  {%- endif -%}

  <div class="card hoverable">
    <div class="d-sm-flex" style="display: flex; flex: 1 1 auto">
      {%- if project.img -%}
      <div class="col-md-2" style="margin: 0; padding: 0">
        {% include figure.html path=project.img alt="project thumbnail"
        style="height: 100%; width: 100%; object-fit: cover;"%}
      </div>
      {%- endif -%}

      <div class="card-body">
        
        <h5 class="card-title">{{ project.title }}</h5>

        <p class="card-text" style="text-wrap: wrap">
          {{ project.description }}
        </p>
        <!-- <p>
          {%- for link in project.links %}
          [<a href="{{link[1]}}" target="_blank">{{link[0]}}</a>]
          {% endfor %}
        </p> -->
      </div>

    </div>
    {%- if project.footnote -%}
    <div class="card-footer">
      <small class="text-muted">{{project.footnote}}</small>
    </div>
    {%- endif -%}
  </div>
</a>

</div>
